<%= bootstrap_form_for([@project, membership]) do |f| %>

  <% if membership.errors.any? %>
    <div id="error_count"><p><%= pluralize(membership.errors.count, 'error') %></p></div>
    <ul>
      <% membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row pb-2">
    <div class="col-6">
      <%= f.select :user, @potential_members.collect {|m| [ m.username, m.id ]} %>
    </div>
    <div class="col-6">
      <%= f.select :role, collection: ["Admin", "Collaborator", "Viewer"] %>
    </div>
  </div>

  <%= f.submit "Add", data: { disable_with: 'Updating...' }, class: 'btn btn-info' %>

<% end %>
