<%= render partial: 'projects/subnav' %>
<%
classes = {
  'on_track'  => 'bg-success',
  'at_risk'   => 'bg-warning',
  'off_track' => 'bg-danger'
}
%>

<div class="max-w-3xl mx-auto px-4 my-8">
  <p class="mb-6"><%= link_to '‹ Back to iteration', project_iteration_path(@project, @iteration), class: 'underline' %></p>

  <div class="card">

    <h1>Debrief</h1>
    <p>
      For <%= link_to @iteration.title, project_iteration_path(@project, @iteration), class: 'underline' %>
      completed on <%= friendly_date(@debrief.updated_at) %>
    </p>

    <div class="mt-6">

      <% @debrief.debrief_ratings.each do |rating| %>
        <div class="mt-3 card">
          <h3><%= Outcome.find(rating.outcome.id).title%></h3>
          <p><%= Outcome.find(rating.outcome.id).success_criteria%></p>
          <div class="my-3">
            <span class="my-3 tag <%= classes[DebriefRating.ratings.key(rating.score)] %>"><%= DebriefRating.ratings.key(rating.score).titleize %></span>
          </div>
          <p><i><%= rating.comments %></i></p>
        </div>
      <% end %>
    </div>

    <div class="mt-6">
      <h2 class="mb-2">Additional Notes</h2>
      <p><%= with_default(@debrief.notes, text: 'Not provided') %></p>
    </div>
  </div>
</div>