<div class="card mb-4">

  <div class="card-body">
    <p class="text-muted mb-1 d-flex align-items-center justify-content-between">
      <small>Created by <%= assumption.author.username %></small>
      <%- if edit && policy(assumption).update? %>
        <%= link_to 'Edit', edit_project_assumption_path(assumption.project, assumption) %>
      <% end %>
    </p>
    <p class="font-weight-semibold mb-0"><%= link_to assumption.title, project_assumption_path(assumption.project, assumption) %></p>
    <% if description %>
      <p><%= simple_format(assumption.description) %></p>
    <% end %>
  </div>

  <div class='card-footer'>
    <em class="fa fa-comment-dots pr-1"></em>
    <small style="position: relative; top: -1px;"><%= pluralize(assumption.responses.count, "Insight") %></small>
    &middot;
    <small class="text-muted mb-0">Updated <%= time_ago_in_words(assumption.updated_at) %> ago</small>
  </div>

</div>
