<%= bootstrap_form_for([@project, assumption]) do |f| %>

  <div class="row">
    <div class="col-md-9">
      <%= f.text_field :title %>
      <%= f.trix_editor :description, class: 'mb-3' %>
    </div>
    <div class="col-md-3 border-left">
      <%= assumption.damage %>
      <%= f.select :certainty, Assumption.certainties.keys.map { |s| [s.humanize, s] } %>
      <%= f.select :damage, Assumption.damages.map { |k, v| [Assumption::DAMAGE[v], k] }, include_blank: true %>
      <%= f.select :group_id, @project.groups.map { |g| [g.title.humanize, g.id] }, include_blank: true %>
    </div>
  </div>

  <%= f.submit "Save assumption", data: { disable_with: 'Updating...' }, class: 'btn btn-info' %>

  <% if policy(assumption).destroy? %>
    <%= link_to 'Delete', project_assumption_path(assumption.project, assumption), method: :delete, data: { confirm: 'This action is irreversible, are you sure?' }, class: 'btn btn-secondary ml-1' %>
  <% end %>

<% end %>
