<h1 class="mb-3">Post Reflections</h1>

<p class="mb-5">You have the following assumptions <%= link_to 'in focus', foci_path %>, reflect on how your confidence in each has changed.</p>

<%= bootstrap_form_for @reflection, html: { class: nil } do |f| %>

  <%- f.object.responses.each_with_index do |response, index| %>
    <%- assumption = @reflection.assumptions[index] %>

    <div class="row mb-5">

      <div class="col-4">
        <%= render partial: 'assumptions/card', locals: { edit: false, assumption: assumption } %>
      </div>

      <div class="col-8">
        <div class="card">

            <%= f.fields_for :responses, response, builder: BootstrapForm::FormBuilder do |c| %>

              <div class="card-header pt-3 pb-2">

                <p class="text-muted">Has your confidence in this assumption changed?</p>
                <%- Response::CONFIDENCE.each do |label, value| %>
                  <%= c.label "#{index}_confidence_#{value}", class: "pr-3" do %>
                    <%= c.radio_button :confidence, value, label: label, id: "responses_#{index}_confidence_#{value}", name: "responses[#{index}][confidence]" %>
                  <% end %>
                <% end %>

              </div>

              <div class="card-body">
                <%= c.text_field :title, id: "responses_#{index}_title", name: "responses[#{index}][title]", placeholder: 'Subject', hide_label: true %>
                <%= c.text_area :description, rows: 3, hide_label: true, placeholder: "What's changed?", id: "responses_#{index}_description", name: "responses[#{index}][description]" %>
              </div>

            <% end %>

        </div>
      </div>
    </div>

  <% end %>

  <%= f.submit 'Post Reflections', data: { disable_with: 'Submitting...' }, class: 'btn btn-info' %>

<% end %>
