<h1 class="fs20 bold mb10">New reflection</h1>

<p class="fs15 mb30">You have the following unknowns <%= link_to 'in focus', in_focus_path %>, reflect on how your confidence in each has changed.</p>

<%= simple_form_for @reflection, html: { class: nil } do |f| %>

  <div class="flow mb20">
    <%- f.object.responses.each_with_index do |response, index| %>
      <%- unknown = @reflection.unknowns[index] %>

      <div class="flow20">
        <%= render partial: 'unknowns/card', locals: { edit: false, unknown: unknown } %>

        <div class="form">
          <%= simple_fields_for :responses, response do |c| %>
            <h4 class="grey bold mb10">Add an insight</h4>

            <%= c.input :confidence do %>
              <%- Response::CONFIDENCE.each do |label, value| %>
                <span class="radio">
                  <%= c.label "#{index}_confidence_#{value}" do %>
                    <%= c.radio_button :confidence, value, id: "responses_#{index}_confidence_#{value}", name: "responses[#{index}][confidence]" %>
                    <%= label %>
                  <% end %>
                </span>
              <% end %>
            <% end %>

            <%= c.input :title, input_html: { id: "responses_#{index}_title", name: "responses[#{index}][title]" } %>

            <%= c.label :description %>
            <%= c.trix_editor :description, id: "responses_#{index}_description", name: "responses[#{index}][description]" %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>

  <%= f.button :submit, 'Submit reflection', data: { disable_with: 'Submitting...' }, class: 'btn btn-info' %>

<% end %>
