<h1 class="mb-3">Post Reflections</h1>

<p class="mb-5">You have the following assumptions <%= link_to 'in focus', foci_path %>, reflect on how your confidence in each has changed.</p>

<%= bootstrap_form_for @reflection, html: { class: nil } do |f| %>

  <%- f.object.responses.each_with_index do |response, index| %>
    <%- assumption = @reflection.assumptions[index] %>

    <div class="row mb-4">

      <div class="col-4">
        <%= render partial: 'assumptions/card', locals: { edit: false, assumption: assumption } %>
      </div>

      <div class="col-8">
        <div class="card">

            <%= simple_fields_for :responses, response do |c| %>

              <div class="card-header pt-3 pb-2">
                <%= c.input :confidence do %>
                  <%- Response::CONFIDENCE.each do |label, value| %>
                    <span class="radio">
                      <%= c.label "#{index}_confidence_#{value}" do %>
                        <%= c.radio_button :confidence, value, id: "responses_#{index}_confidence_#{value}", name: "responses[#{index}][confidence]" %>
                        <%= label %>
                      <% end %>
                    </span>
                  <% end %>
                <% end %>
              </div>

              <div class="card-body">
                <%= c.text_field :title, input_html: { id: "responses_#{index}_title", name: "responses[#{index}][title]" } %>
                <%= c.text_area :description, label: "Comments", id: "responses_#{index}_description", name: "responses[#{index}][description]" %>
              </div>

            <% end %>

        </div>
      </div>
    </div>

  <% end %>

  <%= f.submit 'Post Reflections', data: { disable_with: 'Submitting...' }, class: 'btn btn-info' %>

<% end %>
