<div class="card mb-5">

    <div class="card-body">

      <p>
        <small class="text-muted">
          <%= group.author.username %> · Updated <%= time_ago_in_words(group.updated_at) %> ago
        </small>
      </p>
      <h3><%= link_to group.title, project_group_path(@project, group) %></h3>

      <small><%= simple_format(group.description) %></small>
      <%= simple_format(group.summary) %>

      <% if group.assumptions.any? %>

        <h4 class="pt-3">Assumptions</h4>
        <p class="text-muted mb-2">
          <em class="fa fa-comment-medical pr-1 text-primary"></em>
          <small style="position: relative; top: -1px;"><%= pluralize(group.assumptions.count, 'Assumption') %></small>
        </p>

        <div class="row pt-3">
          <% group.assumptions.each do |assumption| %>
            <div class="col-md-3">
              <%= render partial: 'assumptions/card', locals: { description: false, edit: false, assumption: assumption } %>
            </div>
          <% end %>
        </div>

      <% end %>

    </div>

    <% if policy(group).update? %>
      <div class="card-footer">
        <div class="row">

          <div class="col-6">
            <% if policy(@project.assumptions.new).new? %>
              <%= link_to new_project_assumption_path(@project, group: group.id), class: 'btn btn-info btn-icon' do %>
                <em class="fa fa-comment-medical"></em>
                Add Assumption
              <% end %>
            <% end %>
          </div>

          <div class="col-6 text-right pt-1">
            <%= link_to 'Edit', edit_project_group_path(@project, group), class: "link-border mr-3" %>
            <%= link_to 'Delete', project_group_path(@project, group), method: :delete, data: { confirm: 'This action is irreversible, are you sure?' }, class: "link-border" %>
          </div>
        </div>
      </div>
    <% end %>
</div>
