<%= render partial: 'projects/subnav' %>

<div class="max-w-3xl mx-auto px-4 my-8">
  <p class="mb-6"><%= link_to '‹ Back to iteration', project_iteration_path(@project, @iteration), class: 'underline' %></p>

  <div class="card">
    <h1>New check-in</h1>
    <p>For <%= link_to @iteration.title, project_iteration_path(@project, @iteration), class: 'underline' %></p>
    <hr class="my-6">
    <%= simple_form_for([@project, @iteration, @check_in]) do |f| %>

        <%= f.fields_for :check_in_ratings do |r| %>
          <% outcome = @iteration.outcomes.order(:created_at)[r.index] %>

          <h2 class="my-3">Outcome <%= r.index+1 %> of <%= @iteration.outcomes.count %></h2>

          <div class="card mb-6">
            <h3>What are we going to learn or prove?</h3>
            <p class="mb-3"><%= outcome.title%></p>
            <h3>As a minimum, we’ll know we’ve learnt or proved this when…</h3>
            <p><%= outcome.success_criteria%></p>
          </div>

          <%= r.hidden_field(:outcome_id, value: outcome.id) %>
          <%= r.input :score, 
                      as: :radio_buttons, 
                      collection: CheckInRating::SCORES, 
                      label_method: :second, 
                      value_method: :first,
                      label: "Team rating: What's the status of this outcome?" 
          %>

          <%= r.input :comments, label: "Why have you given this rating and what next steps or support would help?", input_html: {class: 'w-full', rows: 3}%>
          
          <hr class="my-6">
        <% end %>

        <%= f.input :notes, hint: 'Any other notes', input_html: {class: 'w-full', rows: 3} %>

      <%= f.submit 'Submit check-in', class: 'btn btn-primary'%>
    <% end %>
  </div>
</div>