<%= render partial: 'projects/subnav' %>

<div class="max-w-3xl mx-auto px-4 my-8">
  <p class="mb-6"><%= link_to '‹ Back', project_offer_path(@project, @offer), class: 'underline' %></p>

  <div class="card">
    <h1 class="text-2xl font-bold mb-3">Book <%= @offer.title %></h1>
    <p class="mb-6">Complete this form and we'll put you in touch with <%= @offer.provider.name %>.</p>
    <%= simple_form_for([@project, @offer, @request]) do |f| %>
      <%= f.input :message, input_html: { class: 'w-full', rows: 6 }, hint: "Use this space to explain exactly what support you're looking for and let us know about any accessibility requirements you have." %>
      
      <% if current_user.is_project_member?(@project, 'mentor') %>
        <% @contributors = @project.members('contributor').sort_by{|u| u.full_name} %>
        <%= f.association :on_behalf_of, collection: @contributors, label_method: :full_name, value_method: :id, label: 'Requesting support on behalf of', include_blank: false %>
      <% end %>
      <%= f.submit 'Send request', class: 'btn btn-primary', data: { disable_with: 'Sending...' } %>
    <% end %>
  </div>
</div>
 
 