<fieldset>
  <p><%= unknown.author.username %> · Updated <%= time_ago_in_words(unknown.updated_at) %> ago</p>
  <h3><%= link_to unknown.title, unknown %></h3>

  <%# TODO: counter cache %>
  <%= link_to '⬆', vote_path(unknown, 'more') %>
  <strong><%= link_to unknown.proofs.sum(:confidence), vote_path(unknown, 'none') %></strong>
  <%= link_to '⬇', vote_path(unknown, 'less') %>
</fieldset>