<div class="card mb-4">

  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <span>
          <p>
            <%= unknown.author.username %> · Updated <%= time_ago_in_words(unknown.updated_at) %> ago
          </p>

          <p><%= link_to unknown.title, project_unknown_path(@project, unknown), class: 'fs18 medium black' %></p>
        </span>
      </div>

      <div class="col-md-4">
        <%# TODO: counter cache %>
        <%= link_to '⬆', vote_path(unknown, 'more'), class: 'grey fs18' %>
        <strong class="fs20"><%= link_to unknown.proofs.sum(:confidence), vote_path(unknown, 'none'), class: 'grey' %></strong>
        <%= link_to '⬇', vote_path(unknown, 'less'), class: 'grey fs18' %>
      </div>
    </div>

  <%- if edit %>
    <div class="my15 trix-formatted"><%= raw(unknown.description) %></div>
    <div class="fs14 text-right">

      <% if policy(unknown).update? %>
        <%= link_to 'Edit', edit_project_unknown_path(@project, unknown) %>
      <% end %>

      <% if policy(unknown).destroy? %>
        <%= link_to 'Delete', project_unknown_path(@project, unknown), method: :delete, data: { confirm: 'This action is irreversible, are you sure?' } %>
      <% end %>
    </div>
  <% else %>
    <p class="fs14 grey"><%= pluralize(unknown.proofs.size, 'insight') %></p>
  <% end %>

  </div>

</div>
