<div class="card purple-border">
  <div class="flex justify-between">
    <span>
      <p class="fs14 grey mb10">
        <%= unknown.author.username %> · Updated <%= time_ago_in_words(unknown.updated_at) %> ago
      </p>

      <h3><%= link_to unknown.title, unknown, class: 'fs18 medium black' %></h3>
    </span>

    <span class="flex flex-column items-center">
      <%# TODO: counter cache %>
      <%= link_to '⬆', vote_path(unknown, 'more'), class: 'grey fs18' %>
      <strong class="fs20"><%= link_to unknown.proofs.sum(:confidence), vote_path(unknown, 'none'), class: 'grey' %></strong>
      <%= link_to '⬇', vote_path(unknown, 'less'), class: 'grey fs18' %>
    </span>
  </div>

  <%- if edit %>
    <div class="my15 trix-formatted"><%= raw(unknown.description) %></div>
    <div class="fs14 text-right">

      <% if policy(unknown).update? %>
        <%= link_to 'Edit', edit_unknown_path(unknown) %>
      <% end %>

      <% if policy(unknown).destroy? %>
        <%= link_to 'Delete', unknown, method: :delete, data: { confirm: 'This actinon is irreversible, are you sure?' } %>
      <% end %>
    </div>
  <% else %>
    <p class="fs14 grey"><%= pluralize(unknown.proofs.size, 'insight') %></p>
  <% end %>
</div>
