<%= bootstrap_form_for([@project, unknown]) do |f| %>

  <div class="form-row">
    <div class="col-md-6">
      <%= f.text_field :title %>
    </div>
    <div class="col-md-6">
      <%= f.select :group, current_user.groups %>
    </div>
  </div>

  <%= f.text_area :description, as: :trix_editor %>
  <%= f.submit "Save assumption", data: { disable_with: 'Updating...' }, class: 'btn btn-info' %>

<% end %>
