<% if @unknown.focussed_by.any? %>
  <p class="grey mb30">
    In focus for
    <span class="medium"><%= @unknown.focussed_by.pluck(:username).to_sentence %></span>
  </p>
<% end %>

<%= render partial: 'unknowns/card', locals: { edit: true, unknown: @unknown } %>

<ul class="history">
  <%- @unknown.get_responses.each do |response| %>
    <%- if response.class.name == "Proof" %>
      <li>Insight <span class="medium"><%= link_to response.insight.title, response.insight %></span> by <%= response.author.username %> contributed <strong><%= response.confidence %></strong> confidence <%= time_ago_in_words(response.updated_at) %> ago.</li>
    <%- else %>
      <li>
        <span class="medium"><%= response.author.username %></span> commented <%= time_ago_in_words(response.updated_at) %> ago.<br>
        <span class="my15 trix-formatted" style="padding: 20px"><%= raw(response.description) %></span>
      </li>
    <% end %>
  <% end %>
</ul>

<div class="form">
  <h4 class="grey bold mb10">Add a...</h4>

  <%= simple_form_for @response, url: unknown_responses_path(@unknown), html: { class: nil } do |f| %>
    <%= f.input :type, as: :radio_buttons, collection: ["Insight", "Comment"], label: false%>
    <%= f.input :confidence, as: :radio_buttons, collection: Response::CONFIDENCE %>
    <%= f.input :title %>
    <%= f.input :description, as: :trix_editor %>

    <div class="text-right">
      <%= f.button :submit, 'Comment', data: { disable_with: 'Commenting...' } %>
    </div>
  <% end %>
</div>
