<%= simple_form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_count"><p><%= pluralize(project.errors.count, 'error') %></p></div>
    <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :private %><br>
    <%= f.check_box :private %>
  </p>
  <div class="text-right">
    <%= f.button :submit, data: { disable_with: 'Updating...' } %>
  </div>
<% end %>