<%= simple_form_for(project) do |f| %>
  <p><%= f.input :name %></p>
  <p><%= f.input :description %></p>
  <p><%= f.input :is_private %></p>
  <%= f.button :submit, data: { disable_with: 'Updating...' }, class: 'btn btn-info' %>
<% end %>
