<%= simple_form_for(@project) do |f| %>

  <%= f.input :title, input_html: { class: 'w-full'} %>
  <%= f.input :description, input_html: { class: 'w-full', rows: 3 } %>

  <%- if %w[edit update].include?(action_name) %>
    <%= f.input :more_details, as: :trix_editor %>
  <% end %>

  <%- if %w[new create].include?(action_name) %>
    <label class="block text-gray-600">
      <input class="mr-1" type="checkbox" checked="checked" disabled="disabled">
      <span>Include default milestones</span>
    </label>
  <% end %>

  <%= f.submit class: 'btn btn-primary mt-6', data: { disable_with: 'Saving...' } %>

<% end %>