<nav aria-label="breadcrumb" class="mb-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Project</li>
  </ol>
</nav>

<div class="row">
  <div class="col-6">
    <h1><%= @project.name %></h1>
  </div>
  <div class="col-6 text-right">
    <%= link_to 'Add Assumption', new_project_unknown_path(@project), class: 'btn btn-primary' %>
  </div>
</div>

<small>
  <%= pluralize(@project.users.size, 'collaborator') %>
  •
  <%= private_label(@project) %>
  <%- if policy(@project).edit? %>
    •
    <%= link_to 'Settings', edit_project_path(@project) %>
  <% end %>
</small>

<p><%= @project.description %></p>

<nav class="mb-5 pt-3">
  <ul class="nav">
    <li class="nav-item mr-3"><%= link_to 'Overview', project_path(@project), class: "nav-link link-border" %></li>
    <li class="nav-item mr-3"><%= link_to 'Assumptions', project_unknowns_path(@project), class: "nav-link link-border" %>
    <li class="nav-item mr-3"><%= link_to 'Knowledge board', project_knowledge_board_path(@project), class: "nav-link link-border" %>
    <li class="nav-item ml-auto"><%= link_to 'Support', project_support_messages_path(@project), class: "nav-link link-border" %>
  </ul>
</nav>

<%- @project.groups.each do |group| %>
  <%= render partial: 'groups/card', locals: { edit: false, group: group } %>
<% end %>
