<div class="row">
  <div class="col-6">
    <h1 class="mb-0"><%= @project.name %></h1>
    <small>
      <% if @project.is_private? %>
        <em class="fa fa-lock pr-1 text-primary"></em>
      <% else %>
        <em class="fa fa-eye pr-1 text-primary"></em>
      <% end %>
      <%= private_label(@project) %>
    </small>
  </div>

  <div class="col-6 text-right pt-1">
    <%- if policy(@project).edit? %>
      <%= link_to 'Edit', edit_project_path(@project), class: "link-border mr-3" %>
    <% end %>
    <%- if policy(@project).destroy? %>
      <%= link_to 'Archive', project_path(@project), method: :delete, data: { confirm: 'Are you sure you wish to archive this project?' }, class: "link-border" %>
    <% end %>
  </div>

</div>

<div class="mt-3 w-75">
  <%= simple_format @project.description %>
</div>

<div class="mb-2 mt-3 pt-1">
  <%- if @project.project_members.any? %>
    <%- @project.project_members.each do |member| %>
      <%= render partial: "project_members/profile_link", locals: { project_member: member } %>
    <% end %>
  <% end %>
  <%= link_to new_project_project_member_path(@project), class: "ml-1" do %>
    <em class="fa fa-plus pr-1 text-primary"></em>
    <small style="position: relative; top: -1px;">Add Collaborator</small>
  <% end %>
</div>

<nav class="mb-4 pb-3 pt-2">
  <ul class="nav tabs">
    <li class="nav-item mr-3"><%= link_to 'Overview', project_path(@project), class: "nav-link #{current_action?('show')}" %></li>
    <li class="nav-item mr-3"><%= link_to 'Assumptions', project_assumptions_path(@project), class: "nav-link #{current_action?('assumptions')}" %>
    <li class="nav-item mr-3"><%= link_to 'Knowledge board', project_knowledge_board_path(@project), class: "nav-link #{current_action?('knowledge_board')}" %>
    <% if policy(SupportMessage).index? %>
      <li class="nav-item ml-auto"><%= link_to 'Support', project_support_messages_path(@project), class: "nav-link #{current_controller?('support_messages')}" %>
    <% end %>
  </ul>
</nav>
