<div class="bg-primary-700">
  <div class="flex items-center justify-between flex-wrap pt-3 px-4 max-w-5xl container mx-auto">
    <h2 class="text-white mb-1 mr-6 md:w-1/2 md:truncate" ><%= link_to @project.title, project_path(@project), class: 'hover:opacity-75' %></h2>
    <nav>
      <ul class="flex sm:mt-0 mt-4">
        <li>
          <%= link_to 'Roadmap', project_path(@project), class: "tab #{active_tab?(controller: 'projects', action: 'show')}" %>
        </li>
        <li class="ml-1">
          <%= link_to 'About', about_project_path(@project), class: "tab #{active_tab?(controller: 'projects', action: 'about')}" %>
        </li>
        <li class="ml-1">
          <%= link_to 'Share', share_project_path(@project), class: "tab #{active_tab?(controller: 'memberships')}" %>
        </li>
        <% unless @project.topics.empty? %>
          <li class="ml-1">
            <%= link_to 'Get support', project_topics_path(@project), class: "tab #{active_tab?(controller: 'topics') || active_tab?(controller: 'offers') || active_tab?(controller: 'support_requests')}" %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>