<div class="row">
  <div class="col">
    <h1>Your Projects</h1>
  </div>
  <div class="col">
    <h1><%= link_to 'New project', new_project_path(), class: "btn btn-primary float-right" %></h1>
  </div>
</div>


<% if @projects.length == 0 %>
  <div class="d-flex justify-content-center text-center mt-5">
    <div>
      <h3><b>You don't have any projects yet</b></h3>
      <p><%= link_to 'Create your first', new_project_path(), class: "btn btn-primary"%></p>
    </div>
  </div>
<% else %>
  <table class="table ">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Edit</th>
    </tr>



    <% @projects.each do |project| %>
      <tr>
        <td><%= link_to project.title, project_path(project) %></td>
        <td><%= project.description %></td>
        <td><%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_project_path(project) %></td>
      </tr>
    <% end %>

  </table>
<% end %>