<h1>My Projects</h1>

<%- if @projects.any? %>

  <%- @projects.each do |project| %>
    <%= link_to project_path(slug: project.slug) do %>
      <div class="card">
        <h2><strong><%= project.name %></strong></h2>
        <p><%= get_membership(project).role %></p>
        <em><%= private_label(project) %></em>
      </div>
    <% end %>
  <% end %>

<% else %>

  <p>It seems like you don't have any projects yet.</p>

<% end %>

<%= link_to 'Create New Project', new_project_path %>