<div class="row">
  <div class="col">
    <h1>Projects</h1>
  </div>
  <div class="col">
    <h1><%= link_to 'New project', new_project_path(), class: "btn btn-primary float-right" %></h1>
  </div>
</div>

<% if @projects.any? %>

  <%- if @contributor.any? %>
    <h3>Contributor</h3>
    <% @contributor.each do |project| %>
      <p><%= link_to project.title, project_path(project) %> - <%= project.description %></p>
    <% end %>
  <% end %>

  <%- if @stakeholder.any? %>
    <h3>Stakeholder</h3>
    <% @stakeholder.each do |project| %>
      <p><%= link_to project.title, project_path(project) %> - <%= project.description %></p>
    <% end %>
  <% end %>

  <%- if @mentor.any? %>
    <h3>Mentor</h3>
    <% @mentor.each do |project| %>
      <p><%= link_to project.title, project_path(project) %> - <%= project.description %></p>
    <% end %>
  <% end %>

<% else %>

  <div class="d-flex justify-content-center text-center mt-5">
    <div>
      <h3><b>You don't have any projects yet</b></h3>
      <p><%= link_to 'Create your first', new_project_path, class: "btn btn-primary"%></p>
    </div>
  </div>

<% end %>