<div class="max-w-3xl mx-auto px-4 my-8">
  <%= render partial: 'layouts/notices' %>

  <div class="flex items-center justify-between">
    <h1>Projects</h1>
    <%= link_to 'New project', new_project_path(), class: "btn btn-primary" %>
  </div>

  <% if @projects.any? %>

    <%- if @contributor.any? %>
      <hr class="my-6">
      <h2>Contributor</h2>
      <% @contributor.each do |project| %>
        <div class="card mt-3">
          <h3 class="text-lg font-bold mb-4"><%= link_to project.title, project_path(project), class: 'link' %></h3>
          <%= project.description %>
        </div>
      <% end %>
    <% end %>

    <%- if @stakeholder.any? %>
      <hr class="my-6">
      <h2>Stakeholder</h2>
      <% @stakeholder.each do |project| %>
        <div class="card mt-3">
          <h3 class="text-lg font-bold mb-4"><%= link_to project.title, project_path(project), class: 'link' %></h3>
          <%= project.description %>
        </div>
      <% end %>
    <% end %>

    <%- if @mentor.any? %>
      <hr class="my-6">
      <h2>Mentor</h2>
      <% @mentor.each do |project| %>
        <div class="card mt-3">
          <h3 class="text-lg font-bold mb-4"><%= link_to project.title, project_path(project), class: 'link' %></h3>
          <%= project.description %>
        </div>
      <% end %>
    <% end %>

  <% else %>

    <div class="text-center">
      <h2 class="text-lg font-bold mt-16 mb-4">No projects</h2>
      <%= link_to 'Create your first', new_project_path, class: "link" %>
    </div>

  <% end %>
  
  <% if @other_projects.any? %>
      <hr class="my-6">
      <h2>All Other Projects</h2>
      <% @other_projects.each do |project| %>
        <div class="card mt-3">
          <h3 class="text-lg font-bold mb-4"><%= link_to project.title, project_path(project), class: 'link' %></h3>
          <%= project.description %>
        </div>
      <% end %>
  <% end %>
</div>