<%= render "projects/header" %>

<% if @project.assumptions.count > 0 %>

  <div class="row">

    <div class="col-md-4">

      <h3 class="mb-0">We do not know</h3>
      <p class="text-muted mb-4 pb-2">We have no direct evidence.</p>
      <% @not_knowns.each do |assumption| %>
        <%= render partial: 'assumptions/card', locals: { edit: false, assumption: assumption } %>
      <% end %>

    </div>

    <div class="col-md-4">

      <h3 class="mb-0">We think we know</h3>
      <p class="text-muted mb-4 pb-2">We have some direct evidence.</p>
      <% @think_knowns.each do |assumption| %>
        <%= render partial: 'assumptions/card', locals: { edit: false, assumption: assumption } %>
      <% end %>

    </div>

    <div class="col-md-4">

      <h3 class="mb-0">We know</h3>
      <p class="text-muted mb-4 pb-2">We have a lot of direct evidence we trust.</p>

      <% @knowns.each do |assumption| %>
        <%= render partial: 'assumptions/card', locals: { edit: false, assumption: assumption } %>
      <% end %>

    </div>

  </div>

<% else %>

  <div class="bg-light rounded text-center p-5 mt-4">
    <p class='lead mb-4'>Add some assumptions to start your knowledge board.</p>
    <%= link_to new_project_assumption_path(@project), class: 'btn btn-info btn-icon' do %>
      <em class="fa fa-comment-medical"></em>
      Add assumption
    <% end %>
  </div>

<% end %>
