<%# TODO: refactor! %>
<script type="text/javascript">
  $(function(){

    $('a[data-status]').on('click', function(){
      var status = $(this).data('status');
      $('#statuses li').removeClass('active');
      $(this).parents('li').addClass('active');

      if(status == 'all'){
        $('#roadmap .row ').show();
      }else if(status == 'default'){
        $('#roadmap .row ').hide();
        $('#roadmap .row.planned').show();
        $('#roadmap .row.committed').show();
      }else{
        $('#roadmap .row ').hide();
        $('#roadmap .row.'+status).show();
      }
      $('#roadmap .row.start').show();

    });

  });
</script>

<%# TODO: refactor end %>

<%= render partial: 'subnav' %>

<div class="max-w-5xl container mx-auto">
  <div class="mx-4 "><%= render partial: 'layouts/notices' %></div>

  <div class="md:flex my-8">

    <div class="flex-none w-full md:max-w-xs px-4 mb-8">
      <%= link_to 'New iteration', new_project_iteration_path(@project), class: 'btn btn-primary block w-full text-center mb-8' %>
      <h3 class="mb-3">Status</h3>
      <ul id="statuses" class="colored-text">
        <li class="active mb-3">
          <a data-status="default">
            Default
            <br>
            <span class="text-sm text-gray-600">Committed &amp; Planned</span>
          </a>
        </li>
        <li class="mb-3">
          <a data-status="all">All</a>
        </li>
        <li class="mb-3">
          <a data-status="complete">Complete</a>
        </li>
        <li class="mb-3">
          <a data-status="committed">Committed</a>
        </li>
        <li class="mb-3">
          <a data-status="planned">Planned</a>
        </li>
      </ul>

    </div>

    <div class="flex-1 mb-8 ml-8 mr-4">
      <%# TODO: refactor! %>
      <div id="roadmap">
        <%
        merged = [];

        #Get iterations
        @project.iterations.each do |iteration|
          merged << {
            :type       => 'iteration',
            :status     => iteration.status,
            :start_date => iteration.start_date || Date.tomorrow,
            :end_date   => iteration.debrief_date || Date.tomorrow,
            :data       => iteration
          }
        end

        #Get milestones
        @project.milestones.each do |milestone|
          merged << {
            :type       => 'milestone',
            :status   	=> milestone.status,
            :start_date => milestone.deadline || Date.tomorrow,
            :data       => milestone
          }
        end

        #Sort the merged array reverse chronologically
        items = merged.sort_by { |hsh| [hsh[:status], hsh[:start_date]] }
        old_status = '';
        items.each_with_index do |item|

          if item[:status] != old_status
          %>
            <div class='row divider <%= item[:status].parameterize %>'>
              <div>
                <span class='tag <%= item[:status].parameterize %>'><%= item[:status].titleize %></span>
              </div>
            </div>
          <%
            old_status = item[:status]
          end

          if item[:type] == 'iteration'
            iteration = item[:data]
          %>

            <div class='row iteration <%= iteration.status.parameterize %> '>
              <div class='card w-full'>
                <h3><%= link_to iteration.title, [@project, iteration] %> </h3>
                <% if iteration.status_committed? %>
                  <%= render partial: 'iterations/progress_timeline', locals: {project: @project, iteration: iteration} %>
                <% end %>
              </div>
            </div>
          <%
          elsif item[:type] == 'milestone'
            milestone = item[:data]
          %>
            <div class='row milestone <%= milestone.status.parameterize %>'>
              <div>
                <h3><%= link_to milestone.title, project_milestone_path(@project, milestone), class: 'link' %></h3>
                <p><%= milestone.description%></p>
                <% if milestone.completed_at? %>
                  <b class="text-sm text-gray-600"><%= friendly_date(milestone.completed_at) %></b>
                <% else %>
                  <b class="text-sm text-gray-600">By <%= milestone.deadline.strftime("%b %Y") %></b>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class='row start'>
          <div>
            <p>Add an <%= link_to 'iteration', new_project_iteration_path(@project), class: 'link' %> or <%= link_to 'milestone', new_project_milestone_path(@project), class: 'link' %></p>
          </div>
        </div>
      </div>
      <%# TODO: refactor end %>

    </div>
  </div>
</div>