
<h1><%= @project.title %></h1>
 
<p><%= @project.description %></p>
<%= link_to 'Edit', edit_project_path(@project), class: "btn btn-primary" %>
<%= link_to 'Destroy', project_path(@project),
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: "btn btn-primary"%>

<h2>Roadmap</h2>
<%= link_to 'Add iteration', new_project_iteration_path(@project), class: "btn btn-primary" %>
<%= link_to 'Add milestone', new_project_milestone_path(@project), class: "btn btn-primary" %>

<style>
  #roadmap{
    border-left: 4px solid #000;
  }
  
  .milestone::before{
    content:"";
    height: 20px;
    width: 20px;
    border: 2px solid #000;
    transform: rotate(45deg);
    margin-right: 10px;
    margin-left: 3px;
    background: #fff;
  }
  
  .row.divider{
    align-items: center;
  }
  
  .divider .line{
    border-top: 3px solid black;
  }
  .divider .box{
    border: 2px solid black;
    text-align: center;
    padding: 5px;
  }
  
</style>
<div id="roadmap">
  <%
  merged = [];

  #Get iterations
  @project.iterations.each do |iteration| 
    merged << {
      :type       => 'iteration',
      :start_date => iteration.start_date,
      :end_date   => iteration.end_date,
      :data       => iteration
    }
  end
   
  #Get milestones
  @project.milestones.each do |milestone| 
    merged << {
      :type       => 'milestone',
      :start_date => milestone.date,
      :end_date   => milestone.date,
      :data       => milestone
    }
  end

  #merged << {
  #    :type => 'divider',
  #    :date => Date.today
  #}

  #Sort the merged array reverse chronologically
  items = merged.sort_by { |hsh| hsh[:start_date] }.reverse
  old_status = '';
  items.each_with_index do |item|
    
    if item[:end_date] < Date.today
      status = 'Completed'
    end

    if item[:start_date] < Date.today && item[:end_date] > Date.today
      status = 'In progress'
    end
    
    if item[:start_date] > Date.today
      status = 'Planned'
    end
    
    if status != old_status
    %>
      <div class='row divider'>
        <div class='col line'>
        </div>
        <div class='col box'>
          <%= status %>
        </div>
        <div class='col line'>
        </div>
      </div>
    <%
      old_status = status
    end
      
    
    
    
    if item[:type] == 'iteration' 
      iteration = item[:data]
  %>
      <div class='row iteration'>
        <div class='card mb-4'>
          <div class="card-body">
            <h4 class="pt-1 mb-1"><%= link_to iteration.title, [@project, iteration] %> </h4>
            <%= render "layouts/iteration_progress", project: @project, iteration: iteration %>
          </div>
        </div>
      </div>
    <% 
    elsif item[:type] == 'milestone' 
      milestone = item[:data]
    %>
      <div class='row milestone'>
        <p><strong><%= link_to milestone.title, edit_project_milestone_path(@project, milestone) %>:</strong> <%= milestone.description%></p>
      </div>
    <% end %>
  <% end %>
</div>