<%# TODO: refactor! %>
<script type="text/javascript">
  $(function(){

    $('#roadmap .row.completed ').hide();

    $('a[data-status]').on('click', function(){
      var status = $(this).data('status');
      $('#statuses li').removeClass('active');
      $(this).parents('li').addClass('active');

      if(status == 'all'){
        $('#roadmap .row ').show();
      }else if(status == 'default'){
        $('#roadmap .row ').hide();
        $('#roadmap .row.planned').show();
        $('#roadmap .row.committed').show();
      }else{
        $('#roadmap .row ').hide();
        $('#roadmap .row.'+status).show();
      }
      $('#roadmap .row.start').show();

    });

  });
</script>

<%# TODO: refactor end %>

<%= render partial: 'subnav' %>

<div class="max-w-5xl container mx-auto">
  <div class="mx-4 "><%= render partial: 'layouts/notices' %></div>

  <div class="md:flex my-8">

    <div class="flex-none w-full md:max-w-xs px-4 mb-8">
      <%= link_to 'New iteration', new_project_iteration_path(@project), class: 'btn btn-primary block w-full text-center mb-8' %>
      <h3 class="mb-3">Status</h3>
      <ul id="statuses" class="colored-text">
        <li class="active mb-3">
          <a data-status="default">
            Default
            <br>
            <span class="text-sm text-gray-600">Committed &amp; Planned</span>
          </a>
        </li>
        <li class="mb-3">
          <a data-status="all">All</a>
        </li>
        <li class="mb-3">
          <a data-status="completed">Completed</a>
        </li>
        <li class="mb-3">
          <a data-status="committed">Committed</a>
        </li>
        <li class="mb-3">
          <a data-status="planned">Planned</a>
        </li>
      </ul>

    </div>

    <div class="flex-1 mb-8 ml-8 mr-4">
      <%# TODO: refactor! %>
      <div id="roadmap">
        <%
        merged = [];

        #Get iterations
        @project.iterations.each do |iteration|
          merged << {
            :type       => 'iteration',
            :status     => iteration.status,
            :start_date => iteration.start_date || Date.tomorrow,
            :end_date   => iteration.debrief_date || Date.tomorrow,
            :data       => iteration
          }
        end

        #Get milestones
        @project.milestones.each do |milestone|
          merged << {
            :type       => 'milestone',
            :status   	=> milestone.status,
            :start_date => milestone.deadline || Date.tomorrow,
            :data       => milestone
          }
        end

        #Sort the merged array reverse chronologically
        items = merged.sort_by { |hsh| [hsh[:status], hsh[:start_date]] }
        old_status = '';
        items.each_with_index do |item|

          if item[:status] != old_status
          %>
            <div class='row divider <%= item[:status].parameterize %>'>
              <div>
                <span class='tag rounded-t-none <%= item[:status].parameterize %>'><%= item[:status].titleize %></span>
              </div>
            </div>
          <%
            old_status = item[:status]
          end

          if item[:type] == 'iteration'
            iteration = item[:data]
          %>

            <div class='row iteration <%= iteration.status %> '>
              <div class='card w-full'>
                <h3><%= link_to iteration.title, [@project, iteration], class: 'underline hover:opacity-75' %></h3>
                <p class="mb-6"><%= iteration.description %></p>
                <h3>Latest update</h3>
                <% if current_user.memberships.find_by(project: @project).role == 'stakeholder' %>
                
                  <% if iteration.status_completed? %>
                    <p class="mb-6"><%= link_to 'Debrief completed on '+friendly_date(iteration.debrief.created_at), [@project, iteration, iteration.debrief], class: 'link' %></p>

                  <% elsif check_ins = iteration.check_ins.count %>
                    <p class="mb-6">Completed <%= pluralize(check_ins, 'check in') %></p>

                  <% else %>
                    <p class="mb-6 missing-text">No updates yet</p>
                  <% end %>
                 
                <% else %>
                 
                  <% if iteration.warning == :check_in_due %>
                    <%= render_warning(iteration.warning, iteration) %>

                  <% elsif iteration.warning == :debrief_due %>
                    <%= render_warning(iteration.warning, iteration) %>

                  <% elsif iteration.status_completed? %>
                    <p class="mb-6"><%= link_to 'Debrief completed on '+friendly_date(iteration.debrief.created_at), [@project, iteration, iteration.debrief], class: 'link' %></p>

                  <% elsif check_in = iteration.check_ins.last %>
                    <p class="mb-6"><%= link_to 'Checked in on '+friendly_date(check_in.created_at), [@project, iteration, check_in], class: 'link' %> - <%= render_check_in_status(check_in) %></p>

                  <% else %>
                    <p class="mb-6 missing-text">No updates yet</p>
                  <% end %>

                  <% if iteration.status_committed? %>
                    <p class="text-sm text-gray-600">Debrief due on <%= friendly_date(iteration.debrief_date) %></p>
                  <% end %>
                  
                <% end %>
              </div>
            </div>
          <%
          elsif item[:type] == 'milestone'
            milestone = item[:data]
          %>
            <div class='row milestone <%= milestone.status %>'>
              <div>
                <h3 class="mb-2"><%= link_to milestone.title, project_milestone_path(@project, milestone), class: 'underline hover:opacity-75' %></h3>
                <p class="mb-2"><%= milestone.description%></p>
                <% if milestone.completed_at? %>
                  <b class="text-sm text-gray-600"><%= friendly_date(milestone.completed_at) %></b>
                <% else %>
                  <b class="text-sm text-gray-600">By <%= milestone.deadline.strftime("%b %Y") %></b>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <div class='row start'>
          <div>
            <p>Add an <%= link_to 'iteration', new_project_iteration_path(@project), class: 'link' %> or <%= link_to 'milestone', new_project_milestone_path(@project), class: 'link' %></p>
          </div>
        </div>
      </div>
      <%# TODO: refactor end %>

    </div>
  </div>
</div>