<%= link_to 'Back', projects_path %>

<h1><%= @project.name %></h1>

<small>
  <%= pluralize(@project.users.size, 'collaborator') %>
  •
  <%= private_label(@project) %>
  <%- if policy(get_membership(@project)).edit? %>
    •
    <%= link_to 'Settings', edit_project_path(@project) %>
  <% end %>
</small>

<p><%= @project.description %></p>

<nav>
  <%= link_to 'Overview', '#todo' %>
  <%= link_to 'Assumptions', '#todo' %>
  <%= link_to 'Knowledge board', '#todo' %>
  <%= link_to 'Support', '#' %>
</nav>

<%- @project.groups.each do |group| %>
  <%= render partial: 'groups/card', locals: { edit: false, group: group } %>
<% end %>

<%= link_to 'New Group', new_project_group_path(@project.slug) %>