<div class="row pb-3">
  <div class="col-6">
    <h1>Change focus</h1>
  </div>
  <div class="col-6 text-right">
    <%= link_to 'Back', in_focus_path %>
  </div>
</div>

<p class="lead">If you don't see the unknown you want to focus on, add it <%= link_to 'here', new_unknown_path %>. Ctrl+Click or Cmd+Click to select more than one.</p>

<%= simple_form_for current_user, url: change_focus_path do |f| %>
  <%= f.association :in_focus, collection: Unknown.all, include_blank: true, input_html: { size: 15 } %>
  <%= f.button :submit, 'Change focus', data: { disable_with: 'Changing...' }, class: "btn btn-info" %>
<% end %>
