<%= bootstrap_form_for([@project, support_message]) do |f| %>

  <% if support_message.errors.any? %>
    <div id="error_count"><p><%= pluralize(support_message.errors.count, 'error') %></p></div>
    <ul>
      <%- support_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.select :status, [ ['Pending', 'Pending'], ['Incomplete', 'Incomplete'], ['Complete', 'Complete'] ] %>
  <%= f.text_field :subject %>
  <%= f.text_area :body %>
  <%= f.text_area :order, input_html: { min: '1', step: '1' }%>

  <%= f.submit "Post", data: { disable_with: 'Saving...' }, class: 'btn btn-info' %>

<% end %>
