<%= bootstrap_form_for([@project, support_message]) do |f| %>

  <% if support_message.errors.any? %>
    <div id="error_count"><p><%= pluralize(support_message.errors.count, 'error') %></p></div>
    <ul>
      <%- support_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col-3">
      <%= f.number_field :order, min: '1', step: '1'%>
    </div>
    <div class="col-9">
      <%= f.select :status, SupportMessage::ALLOWED_STATUSES, include_blank: true %>
    </div>
  </div>

  <%= f.text_field :subject %>
  <%= f.text_area :body, rows: 3 %>
  <%= f.select :rule_object_type, SupportMessage::ALLOWED_OBJECTS, include_blank: true %>
  <%= f.select :rule_event_type, SupportMessage::VALID_EVENT_TYPES, include_blank: true %>
  <%= f.number_field :rule_occurrences, min: '1', step: '1' %>

  <%= f.submit "Post", data: { disable_with: 'Saving...' }, class: 'btn btn-info' %>

<% end %>
