<%= render "projects/header" %>

<% if @support_messages.any? %>
  <%- @support_messages.each do |message| =%>
    <div>
      <p><strong><%= message.status %></strong></p><br>
      <p><strong><%= link_to message.subject, project_support_message_path(@project, message) %></strong></p>
      <p><td><%= link_to 'Edit', edit_project_support_message_path(@project, message), class: 'edit-link' %></td></p>
      <td><%= link_to 'Delete', project_support_message_path(@project, message), method: :delete, data: { confirm: 'This operation cannot be undone, are you sure?' }, class: 'destroy-link' %></td>
    </div>
    <hr>
  <% end %>
  <%= link_to new_project_support_message_path(@project), class: 'btn btn-info btn-icon' do %>
    <em class="fa fa-plus"></em>
    Add support message
  <% end %>
<% else %>
  <div class="bg-light rounded text-center p-5 mt-4">
    <p class='lead mb-4'>No support messages for this project yet</p>
    <%= link_to new_project_support_message_path(@project), class: 'btn btn-info btn-icon mb-1' do %>
      <em class="fa fa-hands-helping"></em>
      Create one now
    <% end %>
  </div>
<% end %>
