<%= simple_form_for([@project, @iteration]) do |f| %>

  <%= f.input :title %>
  <%= f.input :description, input_html: { class: 'w-full', rows: 1 } %>

  <div class="mb-6">
    <h2 class="text-xl font-bold mb-1">Outcomes</h2>
    <p class="text-sm text-gray-600 mb-4">Between 1-5</p>

    <%= f.fields_for :outcomes do |o| %>
      <div class="inner-card mb-4">
        <%= o.input :title, input_html: { class: 'w-full', rows: 1 } %>
        <%= o.input :description, input_html: { class: 'w-full mb-0', rows: 1 } %>
      </div>
    <% end %>
  </div>

  <%= f.input :start_date, html5: true %>
  <%= f.input :debrief_date, html5: true %>

  <%= f.submit class: 'btn btn-primary mr-1', data: { disable_with: 'Saving...' } %>
  <%= f.submit 'Save as draft', class: 'btn', data: { disable_with: 'Saving...' } %>
<% end %>