<%= simple_form_for([@project, @iteration]) do |f| %>

  <%= f.input :title, hint: 'A short and snappy title that defines the primary aim of the iteration.', input_html: { class: 'w-full'} %>
  <%= f.input :description, input_html: { class: 'w-full', rows: 3 }, hint: "Provide more details on what work you'll do (tasks to be completed, estimated time, who will be involved etc.)" %>

  <div class="mb-6" id="outcomes">
    <h2>Outcomes</h2>
    <p class="hint">Between 1 and 5 outcomes to achieve by the end of this iteration</p>
    <%= f.fields_for :outcomes do |outcome| %>
       <%= render 'outcome_fields', :f => outcome %>
    <% end %>
  </div>
  <div class='mb-6'>
    <%= link_to_add_association 'Add new outcome', f, :outcomes, class: 'link', data: {association_insertion_node: '#outcomes', association_insertion_method: :append} %>
  </div>
      
  <%= f.input :start_date, html5: true, hint: "When you'll start work on this iteration" %>
  <%= f.input :debrief_date, html5: true, hint: "When you'll meet with your mentor to debrief" %>

  <%= f.submit class: 'btn btn-primary mr-1', data: { disable_with: 'Saving...' } %>
  <%= f.submit 'Save as draft', class: 'btn', data: { disable_with: 'Saving...' } %>
<% end %>