<%= simple_form_for([@project, @iteration]) do |f| %>

  <%= f.input :title, input_html: { class: 'w-full' } %>

  <%= f.input :description, input_html: { class: 'w-full', rows: 3 } %>

  <div class="mb-6" id="outcomes">
    <h2>Outcomes</h2>

    <%- if @iteration.draftable? %>
      <p class="hint mb-4">Between 1 and 5 outcomes that you'll work towards in this iteration.</p>
      <%= f.error :outcomes, class: 'text-sm text-red-600' %>
      <%= f.simple_fields_for :outcomes, f.object.outcomes.order(:created_at) do |outcome| %>
        <%= render 'outcome_fields', f: outcome %>
      <% end %>
    <% else %>
      <% f.object.outcomes.each do |outcome| %>
        <div class='inner-card mt-4'>
          <p><strong>What are we going to learn or prove?</strong></p>
          <p class="mb-4"><%= outcome.title %></p>
          <p><strong>As a minimum, we’ll know we’ve learnt or proved this when…</strong></p>
          <p><%= outcome.success_criteria %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <%- if @iteration.draftable? %>
    <div class='mb-6'>
      <%= link_to_add_association 'Add outcome', f, :outcomes, class: 'link', data: { association_insertion_node: '#outcomes', association_insertion_method: :append } %>
    </div>
  <% end %>

  <%= f.input :start_date, html5: true %>
  <%= f.input :debrief_date, html5: true, input_html: { class: 'mb-4' } %>

  <%- if @iteration.draftable? %>
    <%= f.button :button, 'Commit to iteration', type: 'submit', name: 'iteration[status]', value: 'committed', class: 'btn-primary mr-1 mt-2', data: { disable_with: 'Saving...', confirm: "Outcomes cannot be changed and you'll receive regular reminders to check-in from the start date once you commit to this iteration. Are you ready to commit?" } %>
  <% else %>
    <%= f.submit class: 'btn btn-primary mt-2', data: { disable_with: 'Saving...' } %>
  <% end %>

  <%- if @iteration.draftable? %>
    <%= f.button :button, 'Save as draft', type: 'submit', name: 'iteration[status]', value: 'planned', class: 'bg-gray-200 mt-2', data: { disable_with: 'Saving...' } %>
  <% end %>
<% end %>