<%= bootstrap_form_for([@project, @iteration]) do |form| %>
 
  <% if @iteration.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@iteration.errors.count, "error") %> prohibited
        this iteration from being saved:
      </h2>
      <ul>
        <% @iteration.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <%= form.text_field :title %>
  <%= form.text_area :description %>
  
  <h3>Outcomes</h3>
  <%= form.fields_for :outcomes do |o| %>
     <div class="card mb-3">
       <div class="card-body">
         <%= o.text_field :title, label: 'What are we going to learn or prove?' %>
         <%= o.text_area :description %>
       </div>
         
     </div>
  <% end %>
 
  <%= form.date_field :start_date %>
  <%= form.date_field :end_date %>
  
  <%= form.submit %>
  <%= form.submit 'Save as draft'%>
 
<% end %>