<style type="text/css">
  .status-box{
    display: inline-block;

    text-align: center;
    padding: 5px 10px;
    background: purple;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
</style>



<b>Iteration</b>
<div class="row">
  <div class="col">
    <h1><%= @iteration.title %></h1>
  </div>
  <div class="col float-right text-right">
    <%= link_to 'Edit', edit_project_iteration_path([@project, @iteration])%>
  </div>
</div>
<div class="status-box <%= @iteration.status %>">
  <%= @iteration.status.titleize %>
</div>
 
<p><%= @iteration.description %></p>

              
<h2>Progress</h2>

<%= render "layouts/iteration_progress", project: @project, iteration: @iteration %>

<table class="table">
  <tbody>
    <tr>
      <td>Start</td>
      <td><%= @iteration.start_date.strftime("%-d %B %Y") %></td>
    </tr>
<% 

classes = {
  'on_track' => 'text-success',
  'at_risk' => 'text-warning',
  'off_track' => 'text-danger'
}
@iteration.check_ins.each do |check_in|
  
%>
    <tr>
      <td><%= link_to 'Check in', [@project, @iteration, check_in] %></td>
      <td><%= check_in.date.strftime("%-d %B %Y") %> - <b class="<%= classes[check_in.on_track()] %>"><%= check_in.on_track().humanize %></b> in some areas</td>
    </tr>
<% end %>
    <tr>
      <td>Debrief</td>
      <td><%= @iteration.debrief_date.strftime("%-d %B %Y") %></td>
    </tr>
  </tbody>  
</table>


<h2>Outcomes</h2>
<p>What we want to have achieved by the end of this project</p>





<% @iteration.outcomes.each do |outcome| %>
  <div class='row'>
    <div class='card mb-4'>
      <div class="card-body">
        <p class="pt-1 mb-1"><strong><%= link_to outcome.title, project_iteration_outcome_path(@project, @iteration, outcome) %></strong></p>
        <p><%= outcome.description %></p>
      </div>
    </div>
  </div>
<% end %>


<h2>Approach</h2>
<p></p>