<%= render partial: 'projects/subnav' %>

<div class="max-w-3xl mx-auto px-4 my-8">
  <p class="mb-6"><%= link_to '‹ Back to roadmap', project_path(@project), class: 'underline' %></p>
  <%= render partial: 'layouts/notices' %>

  <div class="card">
    <div class="flex items-end items-center justify-between mb-3">
      <h1 class="text-2xl font-bold"><%= @iteration.title %></h1>
      <%= link_to 'Edit', edit_project_iteration_path(@project, @iteration), class: 'link' %>
    </div>

    <div class="mb-6">
      <span class="tag <%= @iteration.status %>"><%= @iteration.status.humanize %></span>
    </div>

    <p class="mb-6"><%= @iteration.description %></p>

    <h2 class="text-xl font-bold">Progress</h2>

    <hr class="my-4">

      <div class="flex">
        <span class="sm:w-1/4 w-1/2">Start date</span>
        <span class="sm:w-3/4 w-1/2"><%= friendly_date(@iteration.start_date) %></span>
      </div>

    <hr class="my-4">

      <div class="flex">
        <span class="sm:w-1/4 w-1/2">Debrief date</span>
        <span class="sm:w-3/4 w-1/2"><%= friendly_date(@iteration.debrief_date) %></span>
      </div>

    <hr class="mt-4 mb-6 border-t-4">

    <div class="mb-6">
      <h2 class="text-xl font-bold mb-4">Outcomes</h2>

      <% @iteration.outcomes.each do |outcome| %>
        <div class="inner-card mb-4">
          <p class="font-bold mb-1">What are we going to learn or prove?</p>
          <p class="mb-4"><%= outcome.title %></p>

          <p class="font-bold mb-1">As a minimum, we’ll know we’ve learnt or proved this when…</p>
          <p><%= outcome.description %></p>
        </div>
      <% end %>
    </div>

    <h2 class="text-xl font-bold mb-2">Approach</h2>
    <p>[Approach goes here...]</p>
  </div>
</div>