<div class="card mb-4">

  <div class="card-body">
    <p class="text-muted mb-1 d-flex align-items-center justify-content-between">
      <small>Insight created by <%= insight.author.username %></small>
      <%- if policy(insight).update? %>
        <%= link_to 'Edit', edit_project_insight_path(@project, insight) %>
      <% end %>
    </p>
    <p><%= link_to insight.title, project_insight_path(@project, insight) %></p>
    <% if description %>
      <p><%= raw(insight.description) %></p>
    <% end %>
  </div>

  <div class='card-footer'>
    <p class="text-muted mb-0"><small>Updated <%= time_ago_in_words(insight.updated_at) %> ago</small></p>
  </div>

</div>
