<h1>New support request</h1>

<p><%= @request.requester.full_name %> (cc'd) from <%= @project.title %> has just expressed interest in a <%= @request.offer.title %> with you (<%= @request.offer.provider.name %>).</p>

<p>Reply to this email to let them know if this is something you can help them with.</p>

<p>You can find more details about their request below...</p>

<p><%= @request.message %></p>
