<% if user_signed_in? %>

  <header class="bg-light">
    <div class="container py-4">
      <nav class="navbar navbar-expand-lg navbar-light p-0">
        <h1 class="mb-0 navbar-brand pr-5">
          <%= link_to root_path, class: "text-dark" do %>
            <span>
              <span>Fuse</span><span class="boxed-border">box</span>
            </span>
            <div class="alpha">alpha</div>
          <% end %>
        </h1>
        <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="ml-auto"></div>
          <div class="nav-item dropdown ml-4">
            <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle text-dark" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
              <div class="icon-circle bg-dark">
                <em class="fa fa-user text-light"></em>
              </div>
            </a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right mt-3">
              <li class="dropdown-item">
                <%= link_to "Edit #{current_user&.username}", edit_user_registration_path %>
              </li>
              <div class="dropdown-divider"></div>
              <li class="dropdown-item">
                <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

<% else %>

  <div class="container py-4">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <h1 class="mb-0 navbar-brand pr-3">
        <%= link_to root_path, class: "text-dark" do %>
          <span><
            <span>> Fuse</span>
            <span class="boxed-border">> box</span>
          </span>
          <div class="alpha">alpha</div>
        <% end %>
      </h1>
      <div class="ml-auto">
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary mr-3" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-dark" %>
      </div>
    </nav>
  </div>

<% end %>

<section>
  <div class="alert alert-dark">
    <div class="container">
      This is a prototype, <%= mail_to 'suraj@wearecast.org.uk', 'your feedback will help us improve', subject: 'Fusebox feedback', class: 'text-primary' %>.
    </div>
  </div>
</section>

<% if notice.present? || alert.present? %>
  <section class="pt-4" id="alerts">
    <div class="container">
      <% if notice.present? %>
        <p class="alert alert-primary">
          <%= notice %>
        </p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-warning">
          <%= alert %>
        </p>
      <% end %>
    </div>
  </section>
<% end %>
