<!DOCTYPE html>
<html>
  <head>
    <title>Fusebox Insights</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'print', media: 'print' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>

  <body>

    <%= render partial: 'layouts/header' %>

    <main>

      <% if user_signed_in? %>

        <section class="container pt-3 pb-5">
          <%= yield %>
        </section>

      <% else %>

        <%= yield %>

      <% end %>

    </main>

    <%= render partial: 'layouts/footer' %>

  </body>
</html>
