<!DOCTYPE html>
<html>
  <head>
    <title>Fusebox Insights</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'print', media: 'print' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </head>

  <body>

    <%= render partial: 'layouts/header' %>

    <main>

      <% if user_signed_in? %>

        <nav aria-label="breadcrumb" class="mb-4">
          <div class="container">
            <ol class="breadcrumb bg-white pl-0 mt-2">
              <li class="breadcrumb-item active" aria-current="page"><%= link_to "Projects", projects_path, class: "link-border text-dark" %></li>
            </ol>
          </div>
        </nav>

        <section class="container pt-3 pb-5 mb-5">

          <%= yield %>

        </section>

      <% else %>

        <div class="pt-4">
          <%= yield %>
        </div>

      <% end %>

    </main>

    <%= render partial: 'layouts/footer' %>

  </body>
</html>
